name: Checks

on:
  - push
  - pull_request

jobs:
  try_checks:
    uses: ./.github/workflows/check-reusable.yml
    with:
      runs_on: "ubuntu-22.04"
      continue_on_error: true

  fallback_checks:
    needs: [try_checks]
    if: needs.try_checks.result == 'failure'
    uses: ./.github/workflows/check-reusable.yml
    with:
      runs_on: '[ "self-hosted", "linux" ]'
