on:
  workflow_call:
    inputs:
      runs_on:
        required: true
        type: string

jobs:
  eslint:
    runs-on: ${{ inputs.runs_on }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: |
          corepack enable
          corepack install

      - uses: actions/setup-node@v4
        with:
          cache: yarn

      - run: |
          yarn install

      - run: |
          yarn run lint

  commitlint:
    runs-on: ${{ inputs.runs_on }}
    steps:
      - uses: actions/checkout@v4

      - uses: wagoid/commitlint-github-action@v6

  tests:
    runs-on: ${{ inputs.runs_on }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - run: |
          corepack enable
          corepack install

      - uses: actions/setup-node@v4
        with:
          cache: yarn

      - run: |
          yarn install

      - run: |
          yarn run test
